<h1>Create a new student</h1>

<form action="/students" method="POST">
  <input type="text" id="name" name="name" placeholder="Name:" required/>
  <input type="text" id="key_person" name="key_person" placeholder="Key person:" required/>
  <input type="text" id="room" name="room" placeholder="Room:" required/>
  <p><label for="user_id">Parent:</label>
  <% User.all.each do |user| %>
    <input type="radio" id="user_id" name="user_id" value="<%= user.id %>"/><%= user.username %></p>
  <% end %>

  <input type="submit" id="submit" value="Create">
</form>