<h1><%=current_user.greeting%></h1>
<div class="list-group">
  <% @students.each do |student| %>
    <a href="/students/<%=student.id%>" class="list-group-item list-group-item-action"><%=student.name%></a>
  <% end %>
</div>
<h1></h1>
<% if current_user.nursery_staff %>  
  <div class="col-sm-12 text-center">
    <a class="btn btn-primary btn-lg" href="/students/new" role="button">Create a new student</a>
    <a class="btn btn-primary btn-lg" href="/logout" role="button">Log Out</a>
  </div>
<% else %>
  <div class="col-sm-12 text-center">
    <a class="btn btn-primary btn-lg" href="/logout" role="button">Log Out</a>
  </div>
<% end %>