<h1>Welcome, <%= current_user.username %></h1>

<h2>All our activities:</h2>
<% Activity.all.each do |activity| %>
  <h2><a href="/activities/<%= activity.id %>"><%= activity.date %> </a></h2>
<% end %>

<p><a href="/users/<%= current_user.id %>">Your profile</a></p>
<p><a href="/logout">Log Out</a></p>