<div class="col-sm-12 text-center">
  <h1>Welcome to Student Data Bank</h1>
  <h5>Please, Log In or Sign Up to continue</h5>
</div>

<div class="col-sm-12 text-center">
  <a class="btn btn-primary btn-lg" href="/login" role="button">Login</a>
  <a class="btn btn-primary btn-lg" href="/signup" role="button">Sign Up</a>
</div>