<!doctype html>
<html>
  <head>
    <title>Student Data Bank</title>
  </head>
  <body>

    <div class="container">
      <h1>Welcome to Student Data Bank</h1>
    </div>

    <%= yield %>

  </body>
</html>